agendamlg_cliente/web/WEB-INF/wsdl/localhost_8080/agendamlg-war/services/agendamlg.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="categoria" type="tns:categoria"/>

<xs:element name="countCategorias" type="tns:countCategorias"/>

<xs:element name="countCategoriasResponse" type="tns:countCategoriasResponse"/>

<xs:element name="countEvento" type="tns:countEvento"/>

<xs:element name="countEventoResponse" type="tns:countEventoResponse"/>

<xs:element name="countUsuarios" type="tns:countUsuarios"/>

<xs:element name="countUsuariosResponse" type="tns:countUsuariosResponse"/>

<xs:element name="createCategoria" type="tns:createCategoria"/>

<xs:element name="createEvento" type="tns:createEvento"/>

<xs:element name="createUsuario" type="tns:createUsuario"/>

<xs:element name="editCategoria" type="tns:editCategoria"/>

<xs:element name="editEvento" type="tns:editEvento"/>

<xs:element name="editUsuario" type="tns:editUsuario"/>

<xs:element name="evento" type="tns:evento"/>

<xs:element name="findAllCategorias" type="tns:findAllCategorias"/>

<xs:element name="findAllCategoriasResponse" type="tns:findAllCategoriasResponse"/>

<xs:element name="findAllEventos" type="tns:findAllEventos"/>

<xs:element name="findAllEventosResponse" type="tns:findAllEventosResponse"/>

<xs:element name="findAllUsuarios" type="tns:findAllUsuarios"/>

<xs:element name="findAllUsuariosResponse" type="tns:findAllUsuariosResponse"/>

<xs:element name="findCategoria" type="tns:findCategoria"/>

<xs:element name="findCategoriaResponse" type="tns:findCategoriaResponse"/>

<xs:element name="findEvento" type="tns:findEvento"/>

<xs:element name="findEventoResponse" type="tns:findEventoResponse"/>

<xs:element name="findRangeCategoria" type="tns:findRangeCategoria"/>

<xs:element name="findRangeCategoriaResponse" type="tns:findRangeCategoriaResponse"/>

<xs:element name="findRangeEvento" type="tns:findRangeEvento"/>

<xs:element name="findRangeEventoResponse" type="tns:findRangeEventoResponse"/>

<xs:element name="findRangeUsuario" type="tns:findRangeUsuario"/>

<xs:element name="findRangeUsuarioResponse" type="tns:findRangeUsuarioResponse"/>

<xs:element name="findUsuario" type="tns:findUsuario"/>

<xs:element name="findUsuarioResponse" type="tns:findUsuarioResponse"/>

<xs:element name="removeCategoria" type="tns:removeCategoria"/>

<xs:element name="removeEvento" type="tns:removeEvento"/>

<xs:element name="removeUsuario" type="tns:removeUsuario"/>

<xs:element name="usuario" type="tns:usuario"/>

<xs:complexType name="findAllUsuarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllUsuariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="alias" type="xs:string" minOccurs="0"/>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="fechanacimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="foto" type="xs:int" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="tipo" type="xs:short"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeUsuario">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUsuario">
<xs:sequence>
<xs:element name="entity" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editEvento">
<xs:sequence>
<xs:element name="entity" type="tns:evento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="evento">
<xs:sequence>
<xs:element name="creador" type="tns:usuario" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="likes" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:decimal" minOccurs="0"/>
<xs:element name="tipo" type="xs:short"/>
<xs:element name="validado" type="xs:short"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createEvento">
<xs:sequence>
<xs:element name="entity" type="tns:evento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeEvento">
<xs:sequence>
<xs:element name="entity" type="tns:evento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllEventos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllEventosResponse">
<xs:sequence>
<xs:element name="return" type="tns:evento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countEvento">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countEventoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countCategorias">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countCategoriasResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countUsuarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countUsuariosResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editCategoria">
<xs:sequence>
<xs:element name="entity" type="tns:categoria" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoria">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCategoria">
<xs:sequence>
<xs:element name="entity" type="tns:categoria" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEvento">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEventoResponse">
<xs:sequence>
<xs:element name="return" type="tns:evento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllCategorias">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllCategoriasResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoria" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUsuario">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeUsuario">
<xs:sequence>
<xs:element name="entity" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editUsuario">
<xs:sequence>
<xs:element name="entity" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCategoria">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCategoriaResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoria" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCategoria">
<xs:sequence>
<xs:element name="entity" type="tns:categoria" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeCategoria">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeCategoriaResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoria" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeEvento">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeEventoResponse">
<xs:sequence>
<xs:element name="return" type="tns:evento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>