agendamlg_cliente/src/conf/xml-resources/web-service-references/agendamlg/wsdl/localhost_8080/agendamlg-war/services/agendamlg.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="agendamlg">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/agendamlg-war/services/agendamlg?xsd=1"/>
</xsd:schema>
</types>
<message name="countEvento">
<part name="parameters" element="tns:countEvento"/>
</message>
<message name="countEventoResponse">
<part name="parameters" element="tns:countEventoResponse"/>
</message>
<message name="findEvento">
<part name="parameters" element="tns:findEvento"/>
</message>
<message name="findEventoResponse">
<part name="parameters" element="tns:findEventoResponse"/>
</message>
<message name="findRangeEvento">
<part name="parameters" element="tns:findRangeEvento"/>
</message>
<message name="findRangeEventoResponse">
<part name="parameters" element="tns:findRangeEventoResponse"/>
</message>
<message name="findCategoria">
<part name="parameters" element="tns:findCategoria"/>
</message>
<message name="findCategoriaResponse">
<part name="parameters" element="tns:findCategoriaResponse"/>
</message>
<message name="findAllEventos">
<part name="parameters" element="tns:findAllEventos"/>
</message>
<message name="findAllEventosResponse">
<part name="parameters" element="tns:findAllEventosResponse"/>
</message>
<message name="editUsuario">
<part name="parameters" element="tns:editUsuario"/>
</message>
<message name="findAllUsuarios">
<part name="parameters" element="tns:findAllUsuarios"/>
</message>
<message name="findAllUsuariosResponse">
<part name="parameters" element="tns:findAllUsuariosResponse"/>
</message>
<message name="editEvento">
<part name="parameters" element="tns:editEvento"/>
</message>
<message name="findRangeUsuario">
<part name="parameters" element="tns:findRangeUsuario"/>
</message>
<message name="findRangeUsuarioResponse">
<part name="parameters" element="tns:findRangeUsuarioResponse"/>
</message>
<message name="createEvento">
<part name="parameters" element="tns:createEvento"/>
</message>
<message name="countUsuarios">
<part name="parameters" element="tns:countUsuarios"/>
</message>
<message name="countUsuariosResponse">
<part name="parameters" element="tns:countUsuariosResponse"/>
</message>
<message name="removeEvento">
<part name="parameters" element="tns:removeEvento"/>
</message>
<message name="editCategoria">
<part name="parameters" element="tns:editCategoria"/>
</message>
<message name="findUsuario">
<part name="parameters" element="tns:findUsuario"/>
</message>
<message name="findUsuarioResponse">
<part name="parameters" element="tns:findUsuarioResponse"/>
</message>
<message name="removeUsuario">
<part name="parameters" element="tns:removeUsuario"/>
</message>
<message name="createCategoria">
<part name="parameters" element="tns:createCategoria"/>
</message>
<message name="createUsuario">
<part name="parameters" element="tns:createUsuario"/>
</message>
<message name="removeCategoria">
<part name="parameters" element="tns:removeCategoria"/>
</message>
<message name="countCategorias">
<part name="parameters" element="tns:countCategorias"/>
</message>
<message name="countCategoriasResponse">
<part name="parameters" element="tns:countCategoriasResponse"/>
</message>
<message name="findRangeCategoria">
<part name="parameters" element="tns:findRangeCategoria"/>
</message>
<message name="findRangeCategoriaResponse">
<part name="parameters" element="tns:findRangeCategoriaResponse"/>
</message>
<message name="findAllCategorias">
<part name="parameters" element="tns:findAllCategorias"/>
</message>
<message name="findAllCategoriasResponse">
<part name="parameters" element="tns:findAllCategoriasResponse"/>
</message>
<portType name="agendamlg">
<operation name="countEvento">
<input wsam:Action="http://service/agendamlg/countEventoRequest" message="tns:countEvento"/>
<output wsam:Action="http://service/agendamlg/countEventoResponse" message="tns:countEventoResponse"/>
</operation>
<operation name="findEvento">
<input wsam:Action="http://service/agendamlg/findEventoRequest" message="tns:findEvento"/>
<output wsam:Action="http://service/agendamlg/findEventoResponse" message="tns:findEventoResponse"/>
</operation>
<operation name="findRangeEvento">
<input wsam:Action="http://service/agendamlg/findRangeEventoRequest" message="tns:findRangeEvento"/>
<output wsam:Action="http://service/agendamlg/findRangeEventoResponse" message="tns:findRangeEventoResponse"/>
</operation>
<operation name="findCategoria">
<input wsam:Action="http://service/agendamlg/findCategoriaRequest" message="tns:findCategoria"/>
<output wsam:Action="http://service/agendamlg/findCategoriaResponse" message="tns:findCategoriaResponse"/>
</operation>
<operation name="findAllEventos">
<input wsam:Action="http://service/agendamlg/findAllEventosRequest" message="tns:findAllEventos"/>
<output wsam:Action="http://service/agendamlg/findAllEventosResponse" message="tns:findAllEventosResponse"/>
</operation>
<operation name="editUsuario">
<input wsam:Action="http://service/agendamlg/editUsuario" message="tns:editUsuario"/>
</operation>
<operation name="findAllUsuarios">
<input wsam:Action="http://service/agendamlg/findAllUsuariosRequest" message="tns:findAllUsuarios"/>
<output wsam:Action="http://service/agendamlg/findAllUsuariosResponse" message="tns:findAllUsuariosResponse"/>
</operation>
<operation name="editEvento">
<input wsam:Action="http://service/agendamlg/editEvento" message="tns:editEvento"/>
</operation>
<operation name="findRangeUsuario">
<input wsam:Action="http://service/agendamlg/findRangeUsuarioRequest" message="tns:findRangeUsuario"/>
<output wsam:Action="http://service/agendamlg/findRangeUsuarioResponse" message="tns:findRangeUsuarioResponse"/>
</operation>
<operation name="createEvento">
<input wsam:Action="http://service/agendamlg/createEvento" message="tns:createEvento"/>
</operation>
<operation name="countUsuarios">
<input wsam:Action="http://service/agendamlg/countUsuariosRequest" message="tns:countUsuarios"/>
<output wsam:Action="http://service/agendamlg/countUsuariosResponse" message="tns:countUsuariosResponse"/>
</operation>
<operation name="removeEvento">
<input wsam:Action="http://service/agendamlg/removeEvento" message="tns:removeEvento"/>
</operation>
<operation name="editCategoria">
<input wsam:Action="http://service/agendamlg/editCategoria" message="tns:editCategoria"/>
</operation>
<operation name="findUsuario">
<input wsam:Action="http://service/agendamlg/findUsuarioRequest" message="tns:findUsuario"/>
<output wsam:Action="http://service/agendamlg/findUsuarioResponse" message="tns:findUsuarioResponse"/>
</operation>
<operation name="removeUsuario">
<input wsam:Action="http://service/agendamlg/removeUsuario" message="tns:removeUsuario"/>
</operation>
<operation name="createCategoria">
<input wsam:Action="http://service/agendamlg/createCategoria" message="tns:createCategoria"/>
</operation>
<operation name="createUsuario">
<input wsam:Action="http://service/agendamlg/createUsuario" message="tns:createUsuario"/>
</operation>
<operation name="removeCategoria">
<input wsam:Action="http://service/agendamlg/removeCategoria" message="tns:removeCategoria"/>
</operation>
<operation name="countCategorias">
<input wsam:Action="http://service/agendamlg/countCategoriasRequest" message="tns:countCategorias"/>
<output wsam:Action="http://service/agendamlg/countCategoriasResponse" message="tns:countCategoriasResponse"/>
</operation>
<operation name="findRangeCategoria">
<input wsam:Action="http://service/agendamlg/findRangeCategoriaRequest" message="tns:findRangeCategoria"/>
<output wsam:Action="http://service/agendamlg/findRangeCategoriaResponse" message="tns:findRangeCategoriaResponse"/>
</operation>
<operation name="findAllCategorias">
<input wsam:Action="http://service/agendamlg/findAllCategoriasRequest" message="tns:findAllCategorias"/>
<output wsam:Action="http://service/agendamlg/findAllCategoriasResponse" message="tns:findAllCategoriasResponse"/>
</operation>
</portType>
<binding name="agendamlgPortBinding" type="tns:agendamlg">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="countEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllEventos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRangeUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="countUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeEvento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="countCategorias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRangeCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllCategorias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="agendamlg">
<port name="agendamlgPort" binding="tns:agendamlgPortBinding">
<soap:address location="http://localhost:8080/agendamlg-war/services/agendamlg"/>
</port>
</service>
</definitions>