agendamlg-cliente/src/conf/xml-resources/web-service-references/Agendamlg/wsdl/localhost_8080/Agendamlg/Agendamlg.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="AgendamlgException" type="tns:AgendamlgException"/>

<xs:element name="buscarCategoria" type="tns:buscarCategoria"/>

<xs:element name="buscarCategoriaResponse" type="tns:buscarCategoriaResponse"/>

<xs:element name="buscarCategoriasPorRango" type="tns:buscarCategoriasPorRango"/>

<xs:element name="buscarCategoriasPorRangoResponse" type="tns:buscarCategoriasPorRangoResponse"/>

<xs:element name="buscarEvento" type="tns:buscarEvento"/>

<xs:element name="buscarEventoResponse" type="tns:buscarEventoResponse"/>

<xs:element name="buscarEventosPorRango" type="tns:buscarEventosPorRango"/>

<xs:element name="buscarEventosPorRangoResponse" type="tns:buscarEventosPorRangoResponse"/>

<xs:element name="buscarEventosTipoUsuario" type="tns:buscarEventosTipoUsuario"/>

<xs:element name="buscarEventosTipoUsuarioResponse" type="tns:buscarEventosTipoUsuarioResponse"/>

<xs:element name="buscarEventosUsuario" type="tns:buscarEventosUsuario"/>

<xs:element name="buscarEventosUsuarioResponse" type="tns:buscarEventosUsuarioResponse"/>

<xs:element name="buscarPreferenciasUsuario" type="tns:buscarPreferenciasUsuario"/>

<xs:element name="buscarPreferenciasUsuarioResponse" type="tns:buscarPreferenciasUsuarioResponse"/>

<xs:element name="buscarTodasLasCategorias" type="tns:buscarTodasLasCategorias"/>

<xs:element name="buscarTodasLasCategoriasResponse" type="tns:buscarTodasLasCategoriasResponse"/>

<xs:element name="buscarTodosLosEventos" type="tns:buscarTodosLosEventos"/>

<xs:element name="buscarTodosLosEventosResponse" type="tns:buscarTodosLosEventosResponse"/>

<xs:element name="buscarTodosLosUsuarios" type="tns:buscarTodosLosUsuarios"/>

<xs:element name="buscarTodosLosUsuariosResponse" type="tns:buscarTodosLosUsuariosResponse"/>

<xs:element name="buscarUsuario" type="tns:buscarUsuario"/>

<xs:element name="buscarUsuarioResponse" type="tns:buscarUsuarioResponse"/>

<xs:element name="buscarUsuariosPorRango" type="tns:buscarUsuariosPorRango"/>

<xs:element name="buscarUsuariosPorRangoResponse" type="tns:buscarUsuariosPorRangoResponse"/>

<xs:element name="categoria" type="tns:categoria"/>

<xs:element name="contarCategorias" type="tns:contarCategorias"/>

<xs:element name="contarCategoriasResponse" type="tns:contarCategoriasResponse"/>

<xs:element name="contarEvento" type="tns:contarEvento"/>

<xs:element name="contarEventoResponse" type="tns:contarEventoResponse"/>

<xs:element name="contarUsuarios" type="tns:contarUsuarios"/>

<xs:element name="contarUsuariosResponse" type="tns:contarUsuariosResponse"/>

<xs:element name="crearCategoria" type="tns:crearCategoria"/>

<xs:element name="crearEvento" type="tns:crearEvento"/>

<xs:element name="crearEventoTipoUsuario" type="tns:crearEventoTipoUsuario"/>

<xs:element name="crearEventoTipoUsuarioResponse" type="tns:crearEventoTipoUsuarioResponse"/>

<xs:element name="crearUsuario" type="tns:crearUsuario"/>

<xs:element name="editarCategoria" type="tns:editarCategoria"/>

<xs:element name="editarEvento" type="tns:editarEvento"/>

<xs:element name="editarUsuario" type="tns:editarUsuario"/>

<xs:element name="eliminarCategoria" type="tns:eliminarCategoria"/>

<xs:element name="eliminarEvento" type="tns:eliminarEvento"/>

<xs:element name="eliminarUsuario" type="tns:eliminarUsuario"/>

<xs:element name="evento" type="tns:evento"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="usuario" type="tns:usuario"/>

<xs:element name="validarEvento" type="tns:validarEvento"/>

<xs:element name="validarEventoResponse" type="tns:validarEventoResponse"/>

<xs:complexType name="editarUsuario">
<xs:sequence>
<xs:element name="entity" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="alias" type="xs:string" minOccurs="0"/>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="fechanacimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="foto" type="xs:int" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="tipo" type="xs:short"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="contarCategorias">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="contarCategoriasResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarTodosLosEventos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="buscarTodosLosEventosResponse">
<xs:sequence>
<xs:element name="return" type="tns:evento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="evento">
<xs:sequence>
<xs:element name="creador" type="tns:usuario" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="likes" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:decimal" minOccurs="0"/>
<xs:element name="tipo" type="xs:short"/>
<xs:element name="validado" type="xs:short"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearEvento">
<xs:sequence>
<xs:element name="entity" type="tns:evento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarEvento">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarEventoResponse">
<xs:sequence>
<xs:element name="return" type="tns:evento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarPreferenciasUsuario">
<xs:sequence>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarPreferenciasUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoria" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoria">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="alias" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarEventosPorRango">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarEventosPorRangoResponse">
<xs:sequence>
<xs:element name="return" type="tns:evento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarUsuariosPorRango">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarUsuariosPorRangoResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarEvento">
<xs:sequence>
<xs:element name="entity" type="tns:evento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarTodosLosUsuarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="buscarTodosLosUsuariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarUsuario">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearEventoTipoUsuario">
<xs:sequence>
<xs:element name="evento" type="tns:evento" minOccurs="0"/>
<xs:element name="categoriasEvento" type="tns:categoria" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearEventoTipoUsuarioResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AgendamlgException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarEventosTipoUsuario">
<xs:sequence>
<xs:element name="idUsuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarEventosTipoUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:evento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearCategoria">
<xs:sequence>
<xs:element name="entity" type="tns:categoria" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarCategoriasPorRango">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarCategoriasPorRangoResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoria" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarEvento">
<xs:sequence>
<xs:element name="idEvento" type="xs:int"/>
<xs:element name="idUsuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarEventoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="buscarCategoria">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarCategoriaResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoria" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarEventosUsuario">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarEventosUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:evento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="contarUsuarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="contarUsuariosResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarTodasLasCategorias">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="buscarTodasLasCategoriasResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoria" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="contarEvento">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="contarEventoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editarCategoria">
<xs:sequence>
<xs:element name="entity" type="tns:categoria" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarUsuario">
<xs:sequence>
<xs:element name="entity" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearUsuario">
<xs:sequence>
<xs:element name="entity" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editarEvento">
<xs:sequence>
<xs:element name="entity" type="tns:evento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarCategoria">
<xs:sequence>
<xs:element name="entity" type="tns:categoria" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>